p


{color:black;
font-size:x-large
;font-family: cursive;}


body{background-color: aquamarine;
background-image: url(aa.webp);
max-width: 800px;
margin: auto;}



div


{
background-color: blueviolet;
padding: 15px;


}